<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SnmMaurya Contact</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'>
</head>
<body style="margin:0;">
<p>
  <h3>Hi SnmSpace</h3>
  <p>
    A new request here as contact !
    <hr>
    Details:
    <p>
      Name: <%= @options[:name] %><br>
      email: <%= @options[:email] %><br>
      contact: <%= @options[:contact] %><br>
      Message: <%= @options[:message] %><br>
    </p>
  </p>
</p>
</body>
</html>
