<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SnmMaurya Problems</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'>
</head>
<body style="margin:0;">
<p>
  <h3>Hi <%= @options[:user].username %>,</h3>
  <p>
    A new problem created by you
    <hr>
    <p>
      <p>
        <strong>Problem:</strong><br>
        <a href="<%= Rails.application.routes.url_helpers.topic_problem_url(@options[:topic], @options[:problem], host: @options[:host]) %>">
          <%= @options[:problem].title %>
        </a>
      </p>
    </p>
    <%= render "shared/emailers/footer" %>
  </p>
</p>
</body>
</html>
