<%= render 'shared/header_title', header_title: "", header_sub_title: "Terms & Conditions" %>

<!-- Start row -->
<div class="row">
  <div class="col-sm-12">
    <ul>
      <li>
        You can query a problem.
      </li>
      <li>
        You can get a solution of a problem resolved by someother user.
      </li>
      <li>
        You can solve a problem and put the correct answer for someone else who is waiting for solution.
      </li>
      <li>
        Please provide a solution, if you have good idea about the problem and its solution.
      </li>
    </ul>
  </div>
</div>