<%= render 'shared/header_title', header_title: "", header_sub_title: "Programing is fun! as Rubiest" %>

<!-- Start row -->
<div class="row">
  <div class="col-md-4 rubyists-container">
    <% @rubyists.each do |rubyist| %>
      <%= link_to rubyist.title, rubyist_path(rubyist, page: (params[:page] || 1)), class: "rubyists-anchor #{"selected" if @rubyist.id == rubyist.id}" %>
      <% if rubyist.featured? %>
        <sup class="featured btn btn-danger btn-xs">Featured</sup>
      <% end %>
      <hr>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= @rubyist.try(:description).try(:html_safe) %>
  </div>

  <div class="col-sm-12">
    <%= paginate @rubyists %>
  </div>
</div>
<!-- /.row -->
