development:
  adapter:  postgresql
  host:     localhost
  encoding: utf8
  database: pg_development
  pool:     5
  username: username
  password: password
  template: template0
  # others options

test:
   adapter:  postgresql
   host:     127.0.0.1
   encoding: utf8
   database: pg_test
   pool:     5
   username: username
   password: password
   template: template0
   # others options

production:
  adapter:  postgresql
  host:     127.0.0.1
  encoding: utf8
  database: pg_production
  pool:     5
  username: username
  password: password
  template: template0